nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') El Informativo Matutino
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.ml-auto.p-2
        a.btn.p-2.m-2.btn-info(href='/nueva-noticia') Crear noticia
        a.btn.p-2.m-2.btn-primary(href='/nuevo-autor') Crear autor
        a.btn.p-2.m-2.btn-success(href='/nueva-categoria') Crear categoría
        a.btn.p-2.m-2.btn-secondary(href='/categorias') Listado de categoría
        a.btn.p-2.m-2.btn-primary(href='/autores') Listado de autores